.header {
    height: 70px;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
    opacity: 0.9;
    position: absolute;
    color: whitesmoke
}
.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


@media screen and (max-width: 600px){
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 1128px){
    .header {
        width: 100%;
    }
}

@media screen and (max-width: 630px){
    .header {
        width: 100%;
    }
}



