.footer{
    background-color: #252527;
    display: flex;
    justify-content: center;
    position: relative;

}

.container {
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 20px;
}

.socialBlock {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: -30px;
}

.socialIcon {
    width: 60px;
    height: 60px;
    border: 1px solid #4a4a4a;
    border-radius: 50%;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.socialIcon:hover {
    border: 1px solid #8adea8;
    transition: all 0.3s ease-in-out 0s;
}

.socialIcon a {
    background-position: center;
    display: flex;
    background-size: 56%;
    background-repeat: no-repeat;
}

.socialIcon img {
    width: 40%;
}

.copyright {
    margin-top: 40px;
    font-size: 12px;
    opacity: 0.6;
}

@media screen and (max-width: 626px){
    .socialBlock {
        width: 100%
    }

}

@media screen and (max-width: 340px){
    .socialIcon {
        width: 50px;
        height: 50px;
    }
}


