.project {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.projectImg {
    height: 300px;
    background-color: #ededed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnShow {
    width: 150px;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}





.btnSubmit{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 0 15px;
    padding: 8px 30px;
    max-width: 180px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #4a4a4a;
    outline: none;
    margin-top: 10px;
    position: relative;
    background-color: transparent;
}

.btnSubmit::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    background: #8adea8;
    bottom: 0;
    z-index: -1;
    transition: all 0.5s ease-in-out;
}

.btnSubmit:hover {
    color: white;
    text-decoration: none;
}

.btnSubmit:hover::after {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 626px){
    .formWrapper {
        width: 100%
    }
}

